
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  
.nav-item{
margin-left: 20px;

}
.introduction .left-side h1 span{
    color: #FF8A56;
}
.introduction .left-side h1{
    font-size: 77px;
}
 .book-a-call{
    width: 151px;
    height: 58px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: inline-flex;
     margin-right: 30px; 
 }

 .Cv{
    text-decoration: none;
    color: #000;
 }
 
 .introduction .left-side p{
    font-size: 21px;
 }

 .overlay-menu{
    background-color: black;
    height: 100vh;
    position: fixed;
    opacity: 0.8;
top:0;
left: 0;
width: 0;
overflow-x: hidden;
transition: width .5s ease-in-out;
}

.aktiv{
    width: 100%;
}
.mobile-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 100vh;
    }
    .fa-x{
        position: absolute;
        right: 40px;
        top: 40px;
        color:#fff;
        font-size: 35px;
        cursor: pointer;
    }
    .mobile-nav a{
        color: #dedede;
        
        font-size: 35px;
        display: inline-flex;
        min-width: 150px;}


        .partners .Trusted-by h6{
          text-align: center;
    font-size: 18px;
    margin-bottom: 60px;
        }

    .Projects .into-right a{


      width: 201px;
      height: 58px;
      background-color: #000;
      color: #fff;
      text-decoration: none;
      align-items: center;
      justify-content: center;
      display: inline-flex;
      margin-top: 50px;
    }

    .Projects .into-left h5{
      color: #B16CEA;
      
    }

    .Projects .into-left h1{
      font-size: 54px;
    }

    .Services-cards .card ul{
      list-style-type: square;
       list-style-position: inside; 
      padding-left: 0;
  
    }

  .services h6{
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    color: #FF5E69;
    letter-spacing: 2px;
   padding-top: 80px;
    
}
.services h1{
    text-align: center;
}


.Services-cards .card img{
  height: 50px;
  
}

.card{
  margin-top: 100px;
}

.Services-cards  p{
  color:  #666666;
  ;
}

.blogs .blog-left-side a {
  text-decoration: none;
  color: #fff;
}

.blogs .blog-left-side h6{
  color: #FFA84B;
  font-size: 22px;
  letter-spacing: 4px;
}

.blog {

border-bottom: 1px solid #dedede;
padding: 30px 0;

}

#metadata {
  color:#8a8a8a;
}

.button-navigation{
  display: flex;
  justify-content: end;

}

.button-prev button{
    /* width: 54px;
  height: 54px; 
   background-color: rgb(255, 255, 255);  */
   /* align-items: center;
  justify-content: center; 
  display: inline-flex;  */
  padding: 12px;
  padding-left: 30px;
 
 
}

.button-next button {
   /* width: 54px;
  height: 54px;
  background-color: rgb(255, 255, 255);  */
  /* align-items: center;
  justify-content: center;
  display: inline-flex; */
  
 padding: 12px;
 padding-left: 30px;
}

.carusel{
  margin-bottom: -210px;
}
.carusel .swiper-slide .card .card-img-top{
  width: 100%;
    object-fit: cover;  
  height: 100%;
}

.carusel .swiper-slide .card .card-title{
  color:  #3C46FF;
  font-size: 14px;
  letter-spacing: 5px;
  text-transform: uppercase;
  
}

.carusel .swiper-slide .card .card-text {
  font-size: 24px;
}


.carusel .swiper-slide .card a{

text-decoration: none;
color: #000;
font-size: 18px;

}


.blog-right-side{

margin-top: 200px;

}

.blog-left-side{

margin-top: 200px;

}

.carusel .swiper-slide .card{
  border-radius: 0%;
}
.button-next button img{
  margin-right: 15px;
}
.button-prev button img{
  margin-right: 15px;
}

.blog-right-side .blog a{
  text-decoration: none;
}

        @media(max-width:575px) {
          .parentdiv{
              max-width: 100% ;
          }
          
      }
      
      @media(min-width:576px) {
          
          
      }
      @media(min-width:768px){
          
         
           
          
          
      }
      
      @media(min-width:992px){
          .parentdiv{
              max-width: 960px;
              margin: 0 auto;
          }
          
          .Introduction .intro-left-side h1{
              font-size: 72px; 
          }
          .Introduction .intro-left-side {
             padding: 92px 0;
      
      }
      .Introduction .intro-right-side{
          padding: 72px 0 ;
      }
          
         
      }
      
      @media(min-width:1200px){
          
      }